@import "tailwindcss";

body{
  background-color: black;
  color: white;
}

@media (width <= 650px) {
  .first{
    display: none;
  }
  .second{
    width: 100%;
  
  }
  .pro{
    display: flex;
  }
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
.scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}